.element {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.element h1 {
    margin: 10px 0 0;
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    font-family: Uni_Sans_Heavy;
}

.element img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

section {
    position: relative;
    display: flex;
    width: 100%;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: center;
}

section ul {
    position: relative;
    display: flex;
    padding: 0;
}

section ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}

section ul li a {
    position: relative;
    top: 0;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.2s;
    transform: scale(1, 1);
}

section ul li a:hover {
    transition: 0.2s;
    transform: scale(1.25, 1.25);
}